* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #fdf6f0; 
    color: #6b5b73;
}

main {
    max-width: 700px;
    margin: 40px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #c38eb4; 
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-bottom: 25px;
}

input {
    width: 100%;
    padding: 10px;
    border: 2px solid #d9c7f0;
    border-radius: 10px;
    background-color: #faf5ff;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: #b8e0d2;
    background-color: #ffffff;
}

input[type="submit"] {
    grid-column: span 2;
    background-color: #b8e0d2;
    color: #4d5c57;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover {
    background-color: #a2d5c6;
}

#story {
    background-color: #fff8dc;
    border-left: 5px solid #f7c8a8;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    line-height: 1.7;
    color: #5c5470;
}

nav {
    align-items: center;
    margin-bottom: 20px;
}

nav a {
    color: rgb(108, 63, 150);
    text-decoration: none;
    padding: 10px 18px;
    border: 2px solid; rgb(108, 63, 150);
    border-radius: 5px;
    transition: .3s;
}

nav a:hover {
    background: white;
    color: #8729d9;
}